<div class="container border mx-auto max-w-lg p-5">
  <% @order_histories.each do |order_history| %>
    <div class="flex items-center justify-between border-b mb-3 p-3">
      <div class="flex gap-1 items-center">
        <%= order_history.drink_name %>
        <span>x</span>
        <%= order_history.order_count %>
      </div>
      <div>
        <%= number_to_currency(order_history.total, precision: 0, unit: '¥') %>
      </div>
    </div>
  <% end %>
  <div class="flex items-center justify-between border-b mt-10 mb-3 p-3 font-bold">
    <span>小計</span>
    <span><%= number_to_currency(@order_histories.sum(&:total), precision: 0, unit: '¥') %></span>
  </div>
  <div class="flex items-center justify-between border-b mb-3 p-3 font-bold">
    <span class="text-sm">消費税</span>
    <span class="text-sm"><%= number_to_currency(@order_histories.sum(&:total) * 0.1, precision: 0, unit: '¥') %></span>
  </div>
  <div class="flex items-center justify-between border-b mb-3 p-3 font-bold">
    <span class="text-3xl">合計</span>
    <span class="text-3xl"><%= number_to_currency(@order_histories.sum(&:total) * 1.1, precision: 0, unit: '¥') %></span>
  </div>
  <div class="text-right">
    <% if current_order.present? %>
      <% if current_order&.paid_at.nil? %>
        <%= link_to 'お会計', order_unit_order_complete_path(current_order_unit, current_order_unit.order), class: 'btn btn-primary',  data: { turbo_method: :post, turbo_confirm: 'お会計します' } %>
      <% else %>
        <span>お会計済みです。レジまでお越しください。</span>
      <% end %>
    <% else %>
      <span>まだ注文がありません</span>
    <% end %>
  </div>
</div>
