<div class="container border mx-auto max-w-lg p-5">
  <div data-controller="order-submit" data-action="order-count:changed->order-submit#toggleDisabled">
    <%= form_with model: @order_form,
                  url: order_unit_orders_path(current_order_unit),
                  html: { 'data-turbo-confirm': "注文します" } do |f| %>
      <div>
        <% Drink.all.each_with_index do |drink, index| %>
          <div data-controller="order-count" data-order-submit-target="item" data-order-count-num-value="0" class="flex justify-between items-center mb-3 border-b p-3 gap-4">
            <div>
              <%= drink.name %>
            </div>
            <div class="ml-auto">
              <%= number_to_currency(drink.price, precision: 0, unit: '¥') %>
            </div>
            <div class="flex items-center gap-3">
              <button data-action="click->order-count#minus" class="btn btn-sm">-</button>
              <span data-order-count-target="view" class="text-3xl w-[30px] text-center">0</span>
              <button data-action="click->order-count#plus" class="btn btn-sm">+</button>
              <%= hidden_field_tag "orders[#{index}][drink_id]", drink.id %>
              <%= hidden_field_tag "orders[#{index}][count]", 0, 'data-order-count-target': 'count' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= f.submit '注文', class: 'btn btn-primary px-10', 'data-order-submit-target': 'submit' %>
      </div>
    <% end %>
  </div>
</div>